# Ambientes Virtuais
venv/
env/
.env
revela

# Cache do Python e Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# O Golden Case não sobe pro Git
tests/fixtures/C01*

# outros
Output/
RevEla.spec
build/
dist/
instalador_revela.iss
launcher.py
gsql/
pgsql/